body {
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 5);
    background: linear-gradient(to right, rgba(38, 33, 39, 0.849), rgb(34, 188, 199));
}

h1 {
    display: block;
    text-align: center;
    letter-spacing: .3em;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.container {
    text-align: center;
    text-transform: uppercase;
}

#userinput{
    font-size: 0.83em;
    width: 30em;
    font-family: 'Times New Roman', sans-serif;
    padding: 1em 2em 1em 2em;
}

#enter {
    font-family: 'Times New Roman', Times, serif;
    padding: 1em 2em 1em 2em;
}

::-webkit-input-placeholder {
    font-size: 1.2em;
}

.done {
    text-decoration: line-through;
}